@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');
*,
*::after,
*::before {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: 'Hanken Grotesk', sans-serif;
}
h2 {
    font-weight: 700;
    font-size: 22px;
    margin: 0;
}
span {
    font-weight: 800;
}
p {
    font-weight: 500;
}
.attribution {
    font-size: 11px;
    text-align: center;
    margin: 10px 0;
}
.card {
    width: 100%;
    display: flex;
    flex-direction: column;
}

/* -------- Result --------- */

.card-result {
    background: linear-gradient(0deg, hsl(241, 81%, 54%), hsl(252, 100%, 67%));
    text-align: center;
    color: hsl(0, 0%, 100%);
    padding: 20px 60px;
    border-radius: 0 0 10% 10%;

    flex-basis: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card-result .score {
    height: 120px;
    width: 120px;
    margin: 20px 0;
    border-radius: 50%;
    background: linear-gradient(0deg, hsla(241, 72%, 46%, 0), hsla(256, 72%, 46%, 1));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card-result .score span,
.card-result .score p {
    margin: 0
}
.card-result .score span {
    font-size: 50px;
}

.card-result p,
.card-result__title {
    color: hsl(0, 0%, 80%);
}
.card-result span {
    font-size: 30px;
    font-weight: 500;
}

/* -------- Summary --------- */

.card-summary {
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card-summary__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 25px 0;
}
.card-summary__field {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    border-radius: 10px;
    vertical-align: middle;
}
.card-summary__field_label {
    align-self: center;
}
.card-summary__field_label p {
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
}
.card-summary__field_label img {
    display: inline-block;
    vertical-align: middle;
}

.card-summary__field:nth-child(1){
    background-color: hsl(0, 100%, 97%);
    color: hsl(0, 100%, 65%);
}
.card-summary__field:nth-child(2){
    background-color: hsl(39, 100%, 97%);
    color: hsl(39, 100%, 56%)
}
.card-summary__field:nth-child(3){
    background-color: hsl(166, 100%, 97%);
    color: hsl(166, 100%, 37%);
}
.card-summary__field:nth-child(4){
    background-color: hsl(234, 85%, 97%);
    color: hsl(234, 85%, 45%);
}

.card-summary__field_score {
    color: hsl(0, 0%, 70%);
}
.card-summary__field_score span {
    color: black;
}

.btn-continue {
    display: block;
    width: 100%;
    padding: 15px 0;
    margin: 0 auto;
    border: none;
    cursor: pointer;
    background-color: hsl(224, 30%, 27%);
    color:hsl(0, 0%, 100%);
    font-size: 18px;
    border-radius: 30px;
}
:is(.btn-continue:hover, .btn-continue:focus) {
    background: linear-gradient(0deg, hsl(241, 81%, 54%), hsla(256, 72%, 46%, 1));;
}

/* -------- Media Queries -------- */

@media (min-width: 1440px) {
    .card{
        position: absolute;
        width: 700px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 30px;

        flex-direction: row;
        box-shadow: 0 0 100px hsl(234, 85%, 97%);;
    }
    .card-result {
        border-radius: 30px;
        width: 50%;
        justify-content: space-evenly;
    }
    .card-summary {
        width: 50%;
    }
}